#head {
	background: #fff;
	min-height: 60px;
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	.logo {
		width: 100%;
		height: 60px;
		text-align: center;
		float: left;
		border-right: 1px solid #eee;
		img {
			margin: 11px 0px;
			width: 130px;
		}
	}
	.switch_button {
		background: #fff;
		float: left;
		height: 60px;
		color: #cfcfcf;
		padding: 0px 18px;
		line-height: 58px;
		font-size: 30px;
		border-right: 1px solid #eee;
	}
	.head_navbar {
		ul {
			float: right;
			display: inline-block;
			margin-right: 30px;
			li {
				float: left;
				height: 60px;
				padding: 6px 14px;
				line-height: 44px;
				position: relative;
				.cord {
					display: inline-block;
					width: 40px;
					height: 40px;
					text-align: center;
					line-height: 40px;
					border-radius: 6px;
					background: #eee;
					color: #888;
				}
			}
			.notification_info{
				transition: all 0.4s ease-in-out;
				display: none;
				position: absolute;
				width: 200px;
				padding: 8px;
				border: 1px rgba(0,0,0,.15) solid;
				-webkit-border-radius:6px;
				-moz-border-radius:6px;
				border-radius:6px;
				left: 50%;
				margin-left: -100px;
				margin-top: 10px;
				font-size: 14px;
				color:rgba(0,0,0,.44);
				background: #fff;
				text-align: center;
				span{
					position: absolute;
					left:50%;
					margin-left: -7px;
					top:-15px;
				}
				span::after{
					transform: rotate(45deg) translate(6px,6px);
					box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
					content: '';
					display: block;
					width: 14px;
					height: 14px;
					background: #fff;
				}
				&.active{
					transition: all 0.4s ease-in-out;
					display: block;
				}
			}


		}
	}
}

.main_container {
	position: relative;
	.sidebar {
		transition: all 0.4s ease-in-out;
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		border-top: 1px solid #eee;
		z-index: 3;
		height: 100%;
		background: #fff;
	}
	.sidebar.active {
		left: -240px;
	}
	.main_content {
		transition: all 0.4s ease-in-out;
		min-height: 100%;
		padding: 0;
		margin-top: 0;
		margin-right: 0;
		height: 1000px;
		background: #e9ecf3;
		padding-left: 12.5%;
		padding-top: 60px;
		.content {
			padding: 20px;
		}
	}
	.main_content.active {
		padding-left: 0px;
	}

}